<div class="contenido hija">
  <h2>Datos del objeto Libro</h2>
<p><b>Autor: </b>{{libroHijo.autor}}</p>
<p><b>Titulo: </b>{{libroHijo.titulo}}</p>
<p><b>Año: </b>{{libroHijo.anio}}</p>
<p><b>N° Paginas: </b> {{libroHijo.paginas}}</p>
<p><b>Descripcion: </b> {{libroHijo.descripcion}}</p>
</div>

<div class="contenido hija2">
  <h2>Datos del objeto Animal</h2>
  <p><b>Nombre: </b>{{animalHijo.animalNombre}}</p>
<p><b>Nombre cientifico: </b>{{animalHijo.nombreCientifico}}</p>
<p><b>Alimentacion: </b>{{animalHijo.alimentacion}}</p>
<p><b>Habitat: </b> {{animalHijo.habitat}}</p>
<p><b>Descripcion: </b> {{animalHijo.descripcion}}</p>

</div>
