.contenido{
  padding: 2%;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  margin: 2% 1%;
}

.hija{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.hija2{
  background-image: linear-gradient(to right, #4facfe 0%, #f600fe 100%);
}